/*=============COMMON SETTING=============*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: visible; }

a {
  text-decoration: none; }

b, .prod_filter_menu ul li a span, .menu__main_items li a:hover, .menu__main_cart li a:hover, .services__items:hover .services__items_title, .review_content_name {
  color: #1abc9c; }

.prod_filter_menu ul li a.active, .header, .search form button {
  background-color: #1abc9c; }

.menu__main_items li a, .menu__main_cart li a {
  color: #000000; }

.prod_box .prod_box_photo .prod_control a, .prod_box .prod_box_info a, .prod_filter_menu ul li a.active, .header__left, .header__right a, .search form button, .banner__item_content_title, .banner__item_content_btn, .banner__control, .sale, .newsletter_content p, .news_list_item a, .contact_left, .contact_left ul li a, .contact_right form div.tbl-row button, footer {
  color: #ffffff; }

.prod_box .prod_box_photo .prod_status a, .prod_filter_menu ul li a, .review_content_desc, .review_content_address, .news_list_item p {
  color: #515151; }

.collection, .partner {
  background-color: #e9f0fd; }

.clearfix::after, .clearfix::before {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

.container {
  width: 80%;
  margin: 0 auto; }

.search-show {
  display: block !important;
  top: 0 !important; }

b {
  font-weight: bold; }

.bgcl-green {
  background-color: #e9f0fd; }

/*=============TITLE SECTION=============*/
/*=============PRODUCTION BOX=============*/
.prod_box {
  position: relative;
  transition: all 0.5s; }
  .prod_box .prod_box_photo {
    position: relative; }
    .prod_box .prod_box_photo img {
      width: 100%;
      height: auto;
      display: block; }
    .prod_box .prod_box_photo .prod_control {
      background: rgba(0, 0, 0, 0.5);
      transform: scale(0.1, 0.1);
      opacity: 0;
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      height: calc(100% - 40px);
      border: 10px solid rgba(255, 255, 255, 0.55);
      transition: all 0.5s; }
      .prod_box .prod_box_photo .prod_control_rate {
        margin-top: 35%;
        padding: 10px 20px; }
        .prod_box .prod_box_photo .prod_control_rate a {
          font-size: 26px;
          width: 33.3333333333%;
          padding: 10px;
          margin: 0 5px;
          border: 1px solid #ffffff; }
        .prod_box .prod_box_photo .prod_control_rate a:hover {
          background-color: #1abc9c;
          border: 1px solid #1abc9c; }
      .prod_box .prod_box_photo .prod_control_add {
        margin-top: 30px; }
        .prod_box .prod_box_photo .prod_control_add a {
          font-size: 16px;
          border: 1px solid #ffffff;
          padding: 10px 25px;
          background-color: #323232; }
        .prod_box .prod_box_photo .prod_control_add a:hover {
          background-color: #1abc9c;
          border: 1px solid #1abc9c; }
    .prod_box .prod_box_photo .prod_status {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      display: block;
      width: auto; }
      .prod_box .prod_box_photo .prod_status a {
        border: 1px solid #000000;
        padding: 7px 15px; }
      .prod_box .prod_box_photo .prod_status a.prod_status_new {
        float: left; }
      .prod_box .prod_box_photo .prod_status a.prod_status_sell {
        float: right; }
  .prod_box .prod_box_info {
    background-color: #323232;
    position: absolute;
    bottom: 0;
    height: 40px;
    display: block;
    width: 100%; }
    .prod_box .prod_box_info a {
      font-weight: bold; }
    .prod_box .prod_box_info h3 {
      float: left;
      display: block;
      padding: 10px;
      margin: 0;
      font-size: 18px; }
    .prod_box .prod_box_info span {
      float: right;
      display: block;
      background: rgba(255, 255, 255, 0.5);
      padding: 10px;
      font-size: 18px; }

.prod_box:hover .prod_box_photo .prod_control {
  transform: scale(1, 1);
  opacity: 1; }
.prod_box:hover .prod_box_info {
  background-color: #1abc9c; }

/*=============PRODUCTION FILTER=============*/
.prod_filter {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 30px; }
  .prod_filter_menu {
    text-align: center;
    display: block; }
    .prod_filter_menu ul {
      magrin: 0;
      padding: 0; }
      .prod_filter_menu ul li {
        list-style: none;
        display: inline-block; }
        .prod_filter_menu ul li a {
          display: block;
          padding: 7px 15px;
          margin: 0 5px;
          border: 1px solid #000000;
          text-transform: uppercase;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          position: relative; }
          .prod_filter_menu ul li a span {
            position: absolute;
            z-index: 999;
            top: -25px;
            padding: 5px 9px;
            border: 1px solid #000000;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            font-weight: bold;
            background-color: #ffffff; }
        .prod_filter_menu ul li a.active {
          border: 1px solid #1abc9c; }

/*=============HEADER=============*/
.header {
  position: relative;
  width: 100%;
  display: block; }
  .header ul {
    margin: 0;
    padding: 0; }
    .header ul li {
      list-style: none;
      display: inline-block;
      padding: 0 10px;
      font-size: 0.8em;
      line-height: 350%; }
  .header__left {
    float: left; }
  .header__right {
    float: right; }

/*=============MENU=============*/
.menu {
  position: relative;
  width: 100%;
  display: block; }
  .menu__logo {
    float: left; }
    .menu__logo a {
      font-size: 30px;
      text-transform: uppercase;
      color: #555252;
      line-height: 300%;
      font-weight: 300; }
  .menu__main {
    text-align: center; }
    .menu__main_items {
      display: inline-block;
      margin: 0;
      padding: 0; }
      .menu__main_items li {
        list-style: none;
        display: inline-block; }
        .menu__main_items li a {
          font-weight: bold;
          font-size: 14px;
          line-height: 600%;
          padding: 0 10px; }
    .menu__main_cart {
      float: right;
      display: inline-block;
      margin: 0;
      padding: 0; }
      .menu__main_cart li {
        list-style: none;
        display: inline-block; }
        .menu__main_cart li a {
          font-weight: bold;
          font-size: 14px;
          line-height: 600%; }
          .menu__main_cart li a img {
            vertical-align: middle;
            position: relative;
            top: -5px; }
  .menu__bar {
    display: none;
    float: right; }
    .menu__bar .bar1, .menu__bar .bar2, .menu__bar .bar3 {
      width: 25px;
      height: 3px;
      background-color: #666666;
      margin: 2px 0;
      transition: all 0.5s; }
  .menu .change .bar1 {
    transform: rotate(45deg) translate(5px, 8px); }
  .menu .change .bar2 {
    opacity: 0; }
  .menu .change .bar3 {
    transform: rotate(-45deg) translate(-1px, -2px); }

/*=============SEARCH=============*/
.search {
  position: relative;
  display: none;
  width: 100%;
  top: -100px;
  background: url("../images/bg.png") #1abc9c no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 40px 0;
  height: 150px;
  transition: all 0.5s; }
  .search form {
    position: relative; }
    .search form input[type="text"] {
      width: 100%;
      padding: 21px;
      border: 0;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }
    .search form button {
      position: absolute;
      right: 1px;
      top: 1px;
      padding: 20px 40px;
      border: 0;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }

/*=============BANNER=============*/
.banner {
  position: relative;
  display: block;
  width: 100%; }
  .banner__item {
    width: 100%;
    position: relative; }
    .banner__item_photo {
      background-color: #000000; }
      .banner__item_photo img {
        width: 100%;
        height: auto;
        display: block;
        opacity: 0.5; }
    .banner__item_content {
      position: absolute;
      top: 20%;
      left: 20%;
      right: 20%;
      text-align: center; }
      .banner__item_content_title {
        font-size: 3em;
        text-transform: uppercase; }
      .banner__item_content_btn {
        text-transform: uppercase;
        border: 2px solid #1abc9c;
        padding: 7px 20px; }
  .banner__control {
    position: absolute;
    top: 40%;
    font-size: 3em;
    padding: 10px 20px;
    background-color: #1abc9c;
    opacity: 0.5; }
  .banner a.left {
    left: 0; }
  .banner a.right {
    right: 0; }

/*=============SERVICES=============*/
.services {
  position: relative;
  display: block;
  width: 100%;
  padding: 50px 0;
  color: #555252; }
  .services__items {
    width: 25%;
    padding: 10px;
    text-align: center;
    float: left; }
    .services__items_icon {
      height: 66px;
      display: block; }
    .services__items_title {
      margin: 40px 0 20px; }
    .services__items_desc {
      font-size: 12px;
      font-weight: 300;
      line-height: 200%; }
    .services__items i.setting {
      background: url("../images/setting.png") no-repeat center center; }
    .services__items i.money {
      background: url("../images/money.png") no-repeat center center; }
    .services__items i.about {
      background: url("../images/about.png") no-repeat center center; }
    .services__items i.ship {
      background: url("../images/ship.png") no-repeat center center; }
  .services__items:hover i.setting {
    background: url("../images/setting2.png") no-repeat center center; }
  .services__items:hover i.money {
    background: url("../images/money2.png") no-repeat center center; }
  .services__items:hover i.about {
    background: url("../images/about2.png") no-repeat center center; }
  .services__items:hover i.ship {
    background: url("../images/ship2.png") no-repeat center center; }

/*=============COLLECTION=============*/
.collection {
  position: relative;
  width: 100%;
  display: block;
  padding: 30px 0; }
  .collection .title-section {
    position: relative;
    width: 100%;
    display: block;
    text-align: center; }
    .collection .title-section h1 {
      text-transform: uppercase;
      color: #515151;
      font-size: 3em;
      font-weight: 900;
      padding: 20px 0;
      text-align: center; }
    .collection .title-section h1::before {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0; }
    .collection .title-section h1::after {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; }
  .collection .title-section::after {
    content: "";
    background-color: #1abc9c;
    width: 10%;
    height: 5px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px; }
  .collection__items {
    width: 25%;
    position: relative;
    display: block;
    padding: 10px;
    float: left; }

/*=============PRODUCTS=============*/
.products {
  padding: 40px 0; }
  .products .title-section {
    position: relative;
    width: 100%;
    display: block;
    text-align: center; }
    .products .title-section h1 {
      text-transform: uppercase;
      color: #515151;
      font-size: 3em;
      font-weight: 900;
      padding: 20px 0;
      text-align: center; }
    .products .title-section h1::before {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0; }
    .products .title-section h1::after {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; }
  .products .title-section::after {
    content: "";
    background-color: #1abc9c;
    width: 10%;
    height: 5px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px; }

/*=============SALE=============*/
.sale {
  position: relative;
  display: block;
  width: 100%;
  padding: 120px 0;
  background: url("../images/offer-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .sale .title-section {
    position: relative;
    width: 100%;
    display: block;
    text-align: center; }
    .sale .title-section h1 {
      text-transform: uppercase;
      color: #515151;
      font-size: 3em;
      font-weight: 900;
      padding: 20px 0;
      text-align: center; }
    .sale .title-section h1::before {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0; }
    .sale .title-section h1::after {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; }
  .sale .title-section::after {
    content: "";
    background-color: #1abc9c;
    width: 10%;
    height: 5px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px; }
  .sale__content {
    position: relative;
    text-align: center; }
    .sale__content h1 {
      font-size: 4em; }
    .sale__content h3 {
      font-size: 2.5em;
      font-weight: 500; }

.sale::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  background: rgba(0, 0, 0, 0.5); }

/*=============REVIEW=============*/
.review {
  position: relative;
  width: 100%;
  display: block;
  padding: 40px 0; }
  .review .title-section {
    position: relative;
    width: 100%;
    display: block;
    text-align: center; }
    .review .title-section h1 {
      text-transform: uppercase;
      color: #515151;
      font-size: 3em;
      font-weight: 900;
      padding: 20px 0;
      text-align: center; }
    .review .title-section h1::before {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0; }
    .review .title-section h1::after {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; }
  .review .title-section::after {
    content: "";
    background-color: #1abc9c;
    width: 10%;
    height: 5px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px; }
  .review_content {
    position: relative;
    width: 75%;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 20px 0; }
    .review_content_photo {
      height: 225px;
      width: 225px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      display: block;
      margin: 0 auto;
      padding: 10px 0; }
    .review_content_desc {
      font-size: 14px;
      line-height: 150%; }
    .review_content_name {
      margin-bottom: 10px;
      position: relative; }
    .review_content_address {
      margin: 5px 0;
      font-size: 14px; }
  .review_list {
    text-align: center; }
    .review_list_box {
      display: table;
      margin: 0 auto; }
      .review_list_box ul {
        text-align: center;
        margin: 0;
        padding: 0; }
        .review_list_box ul li {
          list-style: none;
          height: 85px;
          width: 85px;
          display: block;
          overflow: hidden;
          border-radius: 50%;
          float: left;
          position: relative;
          border: 5px solid #1abc9c;
          margin: 10px;
          border-radius: 50%; }
          .review_list_box ul li img {
            width: 100%;
            height: auto; }

/*=============NEWSLETTER=============*/
.newsletter {
  position: relative;
  width: 100%;
  display: block;
  padding: 70px 0;
  background: url("../images/bg.png") #1abc9c no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .newsletter .title-section {
    position: relative;
    width: 100%;
    display: block;
    text-align: center; }
    .newsletter .title-section h1 {
      text-transform: uppercase;
      color: #515151;
      font-size: 3em;
      font-weight: 900;
      padding: 20px 0;
      text-align: center; }
    .newsletter .title-section h1::before {
      content: "";
      background-color: #ffffff;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0; }
    .newsletter .title-section h1::after {
      content: "";
      background-color: #ffffff;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; }
  .newsletter .title-section::after {
    content: "";
    background-color: #ffffff;
    width: 10%;
    height: 5px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px; }
  .newsletter_content {
    text-align: center; }
    .newsletter_content p {
      margin: 0 0 50px;
      font-size: 14px; }
    .newsletter_content input {
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }
    .newsletter_content input[type="text"] {
      border: 0;
      padding: 25px 20px;
      width: 60%; }
    .newsletter_content button {
      border: 0;
      background-color: #1abc9c;
      color: #ffffff;
      font-size: 20px;
      margin-left: -105px;
      padding: 20px 40px 23px; }

/*=============PARTNER=============*/
.partner {
  position: relative;
  width: 100%;
  display: block;
  padding: 50px 0; }
  .partner .title-section {
    position: relative;
    width: 100%;
    display: block;
    text-align: center; }
    .partner .title-section h1 {
      text-transform: uppercase;
      color: #515151;
      font-size: 3em;
      font-weight: 900;
      padding: 20px 0;
      text-align: center; }
    .partner .title-section h1::before {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0; }
    .partner .title-section h1::after {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; }
  .partner .title-section::after {
    content: "";
    background-color: #1abc9c;
    width: 10%;
    height: 5px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px; }
  .partner_list {
    width: 25%;
    float: left;
    padding: 10px; }
    .partner_list_item {
      border: 1px solid #1abc9c; }
      .partner_list_item img {
        width: 100%;
        height: auto; }

/*=============NEWS=============*/
.news {
  position: relative;
  width: 100%;
  display: block;
  padding: 50px 0; }
  .news .title-section {
    position: relative;
    width: 100%;
    display: block;
    text-align: center; }
    .news .title-section h1 {
      text-transform: uppercase;
      color: #515151;
      font-size: 3em;
      font-weight: 900;
      padding: 20px 0;
      text-align: center; }
    .news .title-section h1::before {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0; }
    .news .title-section h1::after {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; }
  .news .title-section::after {
    content: "";
    background-color: #1abc9c;
    width: 10%;
    height: 5px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px; }
  .news_list_item {
    width: 33.3333333333%;
    padding: 10px;
    float: left; }
    .news_list_item img {
      width: 100%;
      height: auto;
      display: block; }
    .news_list_item h3 {
      line-height: 150%;
      position: relative; }
    .news_list_item h3::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 50%;
      bottom: -5px;
      left: 0;
      background-color: #1abc9c; }
    .news_list_item p {
      line-height: 150%; }
    .news_list_item a {
      padding: 10px 40px;
      background-color: #1abc9c;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      transition: all 0.5s; }
    .news_list_item a:hover {
      background-color: #159d82; }

/*=============CONTACT=============*/
.contact {
  position: relative;
  width: 100%;
  display: block;
  padding: 50px 0;
  background: url("../images/map-bg.png") #2d3237 no-repeat;
  background-position: center center; }
  .contact .title-section {
    position: relative;
    width: 100%;
    display: block;
    text-align: center; }
    .contact .title-section h1 {
      text-transform: uppercase;
      color: #ffffff;
      font-size: 3em;
      font-weight: 900;
      padding: 20px 0;
      text-align: center; }
    .contact .title-section h1::before {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0; }
    .contact .title-section h1::after {
      content: "";
      background-color: #1abc9c;
      width: 10%;
      height: 3px;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; }
  .contact .title-section::after {
    content: "";
    background-color: #1abc9c;
    width: 10%;
    height: 5px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px; }
  .contact_left {
    float: left;
    width: 50%;
    padding-right: 10px; }
    .contact_left h1 {
      font-size: 60px;
      font-weight: 400; }
    .contact_left h1::first-letter {
      color: #1abc9c; }
    .contact_left p {
      margin: 5px 0;
      padding: 0;
      line-height: 150%;
      font-size: 14px; }
      .contact_left p span {
        color: #1abc9c;
        font-weight: bold; }
    .contact_left ul {
      margin: 30px 0px;
      padding: 0; }
      .contact_left ul li {
        list-style: none;
        float: left;
        margin-right: 10px; }
        .contact_left ul li a {
          display: block;
          padding: 10px 15px;
          border: 1px solid #ffffff; }
        .contact_left ul li a:hover {
          border: 1px solid #1abc9c;
          background-color: #1abc9c; }
  .contact_right {
    float: right;
    width: 50%;
    padding-left: 10px; }
    .contact_right form {
      width: 100%;
      margin-top: 40px; }
      .contact_right form div.tbl-row {
        width: 100%;
        display: block;
        padding-right: 20px;
        padding-bottom: 20px; }
        .contact_right form div.tbl-row textarea {
          padding: 15px;
          width: 96%;
          display: block;
          background-color: transparent;
          color: #1abc9c;
          border: 1px solid #ffffff; }
        .contact_right form div.tbl-row textarea::placeholder {
          color: #ffffff; }
        .contact_right form div.tbl-row button {
          border: 0;
          padding: 10px 40px;
          background-color: #1abc9c; }
        .contact_right form div.tbl-row div.tbl-col {
          width: 50%;
          display: block;
          float: left;
          padding-right: 20px;
          padding-bottom: 20px; }
          .contact_right form div.tbl-row div.tbl-col input {
            border: 1px solid #ffffff;
            padding: 15px;
            width: 100%;
            background-color: transparent;
            color: #1abc9c; }
          .contact_right form div.tbl-row div.tbl-col input::placeholder {
            color: #ffffff; }
          .contact_right form div.tbl-row div.tbl-col input:focus {
            border: 1px solid #1abc9c;
            outline: none; }

/*=============FOOTER=============*/
footer {
  background-color: #000000;
  padding: 10px 0;
  text-align: center;
  font-size: 14px; }
  footer span {
    color: #1abc9c; }

/*# sourceMappingURL=style.css.map */
